<div class="h-page pt-5">
    <section class="page-info pt-2">
        <div class="container mb-5">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="" />
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="" />
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="" />
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="" />
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="" />
            </div>
        </div>
        <div class="h-info">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Snow Valley Heights</h3>
                <h6 class="mb-2"><i class="bi bi-geo-alt"></i> Map-iconUpper, Chakkar, Shimla, Himachal Pradesh 171005
                </h6>
                <strong class="d-inline-block mb-2 text-primary-emphasis">Superior Room ( Non View)</strong>

                <div class="mb-1 text-body-secondary">Fit 2 Adults</div>
                <p class="card-text mb-auto">Tick-ImageParking facility (As Per Availability)</p>
                <p class="card-text mb-auto">Free toiletries</p>
                <p class="card-text mb-">Public Restroom</p>
                <div class="mt-2 d-flex align-items-baseline">
                    <h2 class="h-price"><i class="bi bi-currency-rupee"></i>4,387</h2>
                    <span class="card-text fs-6 fw-lighter">/Per Night</span>
                </div>
                <div class="share-book mt-4">
                    <button class="book">Book</button>
                    <div class="mainbox">
                        <input type="checkbox" id="check">
                        <label for="check" class="share2">Share</label>
                        <div class="media-icons">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-chat-left-text-fill"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div class="amenities">
        <h4 class="mb-2">AMENITIES</h4>
        <ul class="amenity-list  mt-3">
            <li class="list-item five-column">
                <div class="dib">
                    <fa-icon [icon]="faUtensils"></fa-icon>
                    <span class="amenityTxt"> Resturant</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <i class="bi bi-wifi"></i>
                    <span class="amenityTxt"> Free Wifi</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <img src="https://www.easemytrip.com/hotels/img/amenities/Front-Desk.svg" alt="Front Desk">
                    <span class="amenityTxt"> Front Desk</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <img src="https://www.easemytrip.com/hotels/img/amenities/Lawns-Gardens.svg" alt="Lawns/Gardens">
                    <span class="amenityTxt"> Lawns/Gardens</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <img src="https://www.easemytrip.com/hotels/img/amenities/Room-service-On request.svg"
                        alt="Room service-On request">
                    <span class="amenityTxt"> Room service-On request</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <img src="https://www.easemytrip.com/hotels/img/amenities/Central-AC.svg" alt="Central AC">
                    <span class="amenityTxt"> Central AC</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <img src="https://www.easemytrip.com/hotels/img/amenities/Elevator.svg" alt="Elevator">
                    <span class="amenityTxt"> Elevator</span>
                </div>
            </li>
            <li class="list-item five-column">
                <div class="dib">
                    <i class="bi bi-sign-no-parking"></i>
                    <span class="amenityTxt"> Parking facility (As Per Availability)</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="rules mt-0 amenities">
        <h4 class="mb-2">Property Rules</h4>
        <div class="checkin-out mb-3">
            <h5 class="fw-nomal">Checck-in: 9 AM</h5>
            <h5 class="fw-nomal">Checck-out: 2 PM</h5>
        </div>
        <hr>
        <ul class="mt-4">
            <li class=""><i class="bi bi-arrow-right"></i>
                Unmarried couples are not allowed.
            </li>
            <li class=""><i class="bi bi-arrow-right"></i>
                Primary guest should be atleast 18 years of age.
            </li>
            <li class=""><i class="bi bi-arrow-right"></i>
                Passport, Aadhar, Driving License and Govt. ID are accepted as ID proof(s).
            </li>
        </ul>
    </div>

    <div class="amenities">
        <h4 class="mb-2">Guest Reviews & Rating </h4>
        <hr>
        <div class="rating mt-3">
            <div class="rating-box2 d-flex flex-column align-items-center justify-content-center">
                <h4 class="fw-normal">Rating</h4>
                <div class="rate d-flex align-items-baseline m-1">
                    <h2 class="fw-semibold">4.5/</h2>
                    <h4>5</h4>
                </div>
                <h6 class="fw-normal">240 Rating</h6>

            </div>
            <div class="rating-box3">
                <div class="d-flex m-3">
                    <div class="flex-grow-1">
                        <div class="row d-flex align-items-center mt-1">
                            <div class="col-4 text-right star"> 5
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <div class="col-8">
                                <div class="progress" style="height: 8px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 75%; background-color: #ffeb3b;" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mt-1">
                            <div class="col-4 text-right star"> 4
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <div class="col-8">
                                <div class="progress" style="height: 8px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 85%;"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mt-1">
                            <div class="col-4 text-right star">3
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <div class="col-8">
                                <div class="progress" style="height: 8px; ">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 55%; background-color: #4caf50;" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mt-1">
                            <div class="col-4 text-right star"> 2
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <div class="col-8">
                                <div class="progress" style="height:  8px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 25%; background-color: #ff9800" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center mt-1">
                            <div class="col-4 text-right star"> 1
                                <i class="bi bi-star-fill"></i>
                            </div>
                            <div class="col-8">
                                <div class="progress" style="height: 8px;">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: 25%; background-color: #f44336" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="rating-box4"></div>
        </div>

    </div>


    <div class="amenities loaction">
        <h2>Our Location</h2>
        <div style="width: 100%; height: 400px; margin-bottom: 20px;">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8354345093686!2d-122.4194151846812!3d37.77492927975912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808c49bb799b%3A0x8d0a7ed7696a85f3!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sin!4v1698438506807!5m2!1sen!2sin" 
            width="100%" 
            height="100%" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        

        </div>

</div>