<!-- <div class="h-page pt-5">
<section class="page-info pt-2">
    <div class="container mb-5">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                alt="" />
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                alt="" />
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                alt="" />
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                alt="" />
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1694931537977-8da9c06b1709?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGdvYXxlbnwwfHwwfHx8MA%3D%3D"
                alt="" />
        </div>
    </div>
    <div class="h-info">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Snow Valley Heights</h3>
            <h6 class="mb-2"><i class="bi bi-geo-alt"></i> Map-iconUpper, Chakkar, Shimla, Himachal Pradesh 171005</h6>
            <strong class="d-inline-block mb-2 text-primary-emphasis">Superior Room ( Non View)</strong>

            <div class="mb-1 text-body-secondary">Fit 2 Adults</div>
            <p class="card-text mb-auto">Tick-ImageParking facility (As Per Availability)</p>
            <p class="card-text mb-auto">Free toiletries</p>
            <p class="card-text mb-">Public Restroom</p>
            <div class="mt-2 d-flex align-items-baseline">
            <h2 class="h-price"><i class="bi bi-currency-rupee"></i>4,387</h2>
            <span class="card-text fs-6 fw-lighter">/Per Night</span>
            </div>
            <div class="share-book mt-4">
                <button class="book">Book</button>
                <div class="mainbox">
                    <input type="checkbox" id="check">
                    <label for="check" class="share2">Share</label>
                    <div class="media-icons">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-chat-left-text-fill"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="amenities">
    <h4 class="mb-2">AMENITIES</h4>
    <ul class="amenity-list  mt-3">
        <li class="list-item five-column">
            <div class="dib">
                <fa-icon [icon]="faUtensils"></fa-icon>
                <span class="amenityTxt"> Resturant</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <i class="bi bi-wifi"></i>
        <span class="amenityTxt"> Free Wifi</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <img src="https://www.easemytrip.com/hotels/img/amenities/Front-Desk.svg" alt="Front Desk">
                <span class="amenityTxt"> Front Desk</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <img src="https://www.easemytrip.com/hotels/img/amenities/Lawns-Gardens.svg" alt="Lawns/Gardens">
                <span class="amenityTxt"> Lawns/Gardens</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <img src="https://www.easemytrip.com/hotels/img/amenities/Room-service-On request.svg"
                    alt="Room service-On request">
                <span class="amenityTxt"> Room service-On request</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <img src="https://www.easemytrip.com/hotels/img/amenities/Central-AC.svg" alt="Central AC">
                <span class="amenityTxt"> Central AC</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <img src="https://www.easemytrip.com/hotels/img/amenities/Elevator.svg" alt="Elevator">
                <span class="amenityTxt"> Elevator</span>
            </div>
        </li>
        <li class="list-item five-column">
            <div class="dib">
                <i class="bi bi-sign-no-parking"></i>
                <span class="amenityTxt"> Parking facility (As Per Availability)</span>
            </div>
        </li>
    </ul>
</div>

<div class="rules mt-0 amenities">
    <h4 class="mb-2">Property Rules</h4>
    <div class="checkin-out mb-3">
        <h5 class="fw-nomal">Checck-in: 9 AM</h5>
        <h5 class="fw-nomal">Checck-out: 2 PM</h5>
    </div>
    <hr>
    <ul class="mt-4">
        <li class=""><i class="bi bi-arrow-right"></i>
            Unmarried couples are not allowed.
        </li>
        <li class=""><i class="bi bi-arrow-right"></i>
            Primary guest should be atleast 18 years of age.
        </li>
        <li class=""><i class="bi bi-arrow-right"></i>
            Passport, Aadhar, Driving License and Govt. ID are accepted as ID proof(s).
        </li>
    </ul>
</div>


</div>
 -->
