<div class="d-flex">
  <app-ad-sidebar [isOpen]="!sidebarCollapsed" (toggleSidebar)="toggleSidebar()"></app-ad-sidebar>

  <div class="dashboard" [class.expanded]="sidebarCollapsed">
    <div class="top">
      <div class="toggle_btn" (click)="toggleSidebar()">
        <i class="bx bx-menu"></i>
      </div>
      <div class="search_box">
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search rooms..." [(ngModel)]="searchQuery" (input)="filterRooms()" />
      </div>
    </div>

    <div class="container mt-4 pt-2">
      <h2 class="tag-head mt-5">Room Details</h2>
      <div *ngIf="loading" class="text-center">Loading...</div>
      <div *ngIf="!loading && filteredRooms.length === 0" class="text-center">No rooms available.</div>
      <div class="row" *ngIf="!loading && filteredRooms.length > 0">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>
                Room Details
                <a class="btn btn-primary float-end">Add Room</a>
              </h4>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped text-center">
                <thead>
                  <tr>
                    <th>Room ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Price Per Night</th>
                    <th>Available Rooms</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let room of filteredRooms">
                    <td>{{ room.roomId }}</td>
                    <td>{{ room.type }}</td>
                    <td class="text-start">{{ room.description }}</td>
                    <td>{{ room.pricePerNight }}</td>
                    <td>{{ room.availableRooms? 'Yes' : 'No' }}</td>
                    <td>
                      <a class="btn btn-success btn-sm">Edit</a>
                      <button class="btn btn-danger btn-sm" (click)="deleteRoom(room.roomId)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
