<div class="d-flex">
    <app-ad-sidebar></app-ad-sidebar>
  
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Room Details
                <a class="btn btn-primary float-end">Add Room</a>
              </h4>
            </div>
            <div class="card-body">
  
              <table class="table table-bordered table-striped text-center">
                <thead>
                  <tr>
                    <th>Room ID</th>
                    <th>Location</th>
                    <th>Describtion</th>
                    <th>Price</th>
                    <th>Available</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>T057</td>
                    <td>Guwhati</td>
                    <td class="text-start">adipisicing elit. Et fuga <br>laudantium doloremque magnam, <br>assumenda
                      initationem sequi!<br>
                      Aliquid doloremque incidunt id!</td>
                    <td>6500</td>
                    <td>Yes</td>
                    <td>
                      <!-- <a class="btn btn-info btn-sm">View</a> -->
                      <a class="btn btn-success btn-sm">Edit</a>
                      <form method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                      </form>
                    </td>
                  </tr>
  
                  <tr>
                    <td>T088</td>
                    <td>Guwhati</td>
                    <td class="text-start">adipisicing elit. Et fuga <br>laudantium doloremque magnam, <br>assumenda
                      initationem sequi!<br>
                      Aliquid doloremque incidunt id!</td>
                    <td>7800</td>
                    <td>Yes</td>
                    <td>
                      <!-- <a class="btn btn-info btn-sm">View</a> -->
                      <a class="btn btn-success btn-sm">Edit</a>
                      <form method="POST" class="d-inline">
                        <button type="submit" name="delete_admin" class="btn btn-danger btn-sm">Delete</button>
                      </form>
                    </td>
                  </tr>
  
                </tbody>
              </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>