<nav>
    <div>
        <h1 class="logo">PLANNGO HUB</h1>
    </div>
    <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/hotel">Hotel</li>
        <li routerLink="/flight">Flight</li>
        <li routerLink="/tour">Tour</li>
        <li routerLink="/cab">Cab</li>
        <select (change)="onNavigate($event)">
            <option disabled selected>Pages</option>
            <option value="/flight/booking/cancel">Cancel Booking</option>
            <option value="/flight/booking/history">Booking History</option>
        </select>
    </ul>
</nav>