
  .hotel-container {
    padding: 20px;
    margin: 0 auto;
    
  }
  
.main {
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
    background-color: #fff;
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}


.headline {
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: 0 auto;
    background-color: wheat;
}

.headline h4 {
    font-size:larger;
    color: black;
    /* padding-left: 20px; */
}
  
h5 {
    font-size: medium;
}
  .card-list {
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    /* background-color: #fff; */
    /* box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176); */
    border-radius: 0px;
    transition: transform 0.3s ease, box-shadow 0.25s ease;
  }
  
  .card-list:hover {
    cursor: pointer;
    /* transform: scale(1.03);
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14); */
  }
    
    .card-item2 {
    background-color: #fff;
    overflow: hidden;
    max-width: 30%;
    text-decoration: none;
    color: inherit;
    border: 1px solid #E4E6E8;
  }
  
  
  .card-item2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .h-name {
    width: 30%;
    border: 1px solid #E4E6E8;
  }
  
  .h-name h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .star-name {
    justify-content: space-between;
    padding-right: 20px;

  }
  
.breakfast p {
    margin-bottom: 0;
}

.breakfast p {
    font-size: 0.9rem;
    margin-bottom: 8px;
    font-weight: 400;
}

.breakfast p i {
    margin-right: 8px;
    color: forestgreen;
}

  .star-name i {
    color: #FF9529;
    margin-left: 2px;
  }
  
  #rate {
    padding: 0 6px;
    border-radius: 8px;
    background-color: green;
    color: #fff;
    gap: 20px;
  }
  
  .bank-offer {
    border-radius: 10px;
    border: 1px solid black;
    font-size: small;
    width: 60%;
  
  }
  
  .bank-offer p {
    margin: 0;
    text-align: end;
  }
  
  hr {
    margin: 0;
    padding: 0;
  }
  
  
  .price {
    width: 40%;
    padding-left: 12px;
    border: 1px solid #E4E6E8;
    justify-content: space-between;
  }
  
  .price h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: end;
  }
  
  .price p {
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: end;
  }

  .cancel-before p{
    font-weight: lighter;
  }