<div>
    <app-ad-sidebar></app-ad-sidebar>

<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Dashboard</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="fa-solid fa-hotel"></i>
                    <span class="text">Total Hotels</span>
                    <span class="number">120</span>
                </div>
                <div class="box box2">
                    <i class="uil uil-comment"></i>
                    <span class="text">Total Rooms</span>
                    <span class="number">20,120</span>
                </div>
                <div class="box box3">
                    <i class="fa-regular fa-bookmark"></i>
                    <span class="text">Book</span>
                    <span class="number">120</span>
                </div>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">Recent Book</span>
            </div>

            <div class="activity-data">
                <div class="data names">
                    <span class="data-title">Name</span>
                    <span class="data-list">Prem Shahi</span>
                    <span class="data-list">Deepa Chand</span>
                    <span class="data-list">Manisha Chand</span>
                    <span class="data-list">Pratima Shahi</span>
                    <span class="data-list">Man Shahi</span>
                    <span class="data-list">Ganesh Chand</span>
                    <span class="data-list">Bikash Chand</span>
                </div>
                <div class="data email">
                    <span class="data-title">Email</span>
                    <span class="data-list">premshahimail.com</span>
                    <span class="data-list">deepachandmail.com</span>
                    <span class="data-list">prakashhaimail.com</span>
                    <span class="data-list">manishachandgmail.com</span>
                    <span class="data-list">pratimashhaigmail.com</span>
                    <span class="data-list">manshahiil.com</span>
                    <span class="data-list">ganeshchandmail.com</span>
                </div>
                <div class="data joined">
                    <span class="data-title">Booking Date</span>
                    <span class="data-list">2022-02-12</span>
                    <span class="data-list">2022-02-12</span>
                    <span class="data-list">2022-02-13</span>
                    <span class="data-list">2022-02-13</span>
                    <span class="data-list">2022-02-14</span>
                    <span class="data-list">2022-02-14</span>
                    <span class="data-list">2022-02-15</span>
                </div>
                <div class="data type">
                    <span class="data-title">Arival Date</span>
                    <span class="data-list">2022-02-12</span>
                    <span class="data-list">2022-02-12</span>
                    <span class="data-list">2022-02-13</span>
                    <span class="data-list">2022-02-13</span>
                    <span class="data-list">2022-02-14</span>
                    <span class="data-list">2022-02-14</span>
                    <span class="data-list">2022-02-15</span>
                </div>
                <div class="data status">
                    <span class="data-title">Room Id</span>
                    <span class="data-list">T0026</span>
                    <span class="data-list">T0084</span>
                    <span class="data-list">T0898</span>
                    <span class="data-list">T9989</span>
                    <span class="data-list">T0799</span>
                    <span class="data-list">T8970</span>
                    <span class="data-list">T9980</span>
                </div>
            </div>
        </div>
    </div>
</section>
</div>