.card-list {
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
    display: flex;
    gap:20px;
    border-radius: 10px;
    width: 90%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}


.card-item2 {
    border-radius: 18px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    transition: border 0.5s ease;
    color: #000;
    width: 30%;
}

 .card-item:hover {
    box-shadow: -2px 2px 10px rgba(0,0,0,0.7);
}
 .card-item2 img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.h-name {
    border: 2px solid black;
    padding-top: 20px;
    width: 55%;
}

.h-name h3 {
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
}

.h-name h2 {
    color:#000;
    font-size: 1.2rem;
    padding-top: 9px;
    font-weight: 500;
}

.price {
    width: 25%;
    border-left: 1px solid black;
}
