<div class="d-flex">
    <app-ad-sidebar></app-ad-sidebar>
    <div class="ad-hotel">
        <h2 class="tag-head mt-5 pt-5">All hotels</h2>
        <div class="card-list">
            <div class="card-item">
                <img src="https://images.unsplash.com/photo-1468824357306-a439d58ccb1c?q=80&w=1518&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Hotel Image">
                <h3 class="hotel-name">Goa Point</h3>
                <p class="location"><i class="bi bi-geo-alt-fill"></i> Goa</p>
                <h2 class="price"><i class="bi bi-currency-rupee"></i>6000/Night</h2>
            </div>
            <div class="card-item">
                <img src="https://images.unsplash.com/photo-1468824357306-a439d58ccb1c?q=80&w=1518&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Hotel Image">
                <h3 class="hotel-name">Goa Point</h3>
                <p class="location"><i class="bi bi-geo-alt-fill"></i> Goa</p>
                <h2 class="price"><i class="bi bi-currency-rupee"></i>6000/Night</h2>
            </div>
        </div>
    </div>
</div>